@import "./partials/_reset";
@import "./partials/_vars";
@import "./partials/_typography";
@import "./partials/_layout";

* {
  box-sizing: border-box;
}

html,
body {
  color: $font-faded;
  background-color: $background-main;
}
