@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin border-radius-specific($topLeft, $topright, $bottomLeft, $bottomleft) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomRight;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topLeft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomRight;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topLeft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomRight;
  -moz-border-radius-bottomleft: $bottomleft;
}

@mixin box-shadow($left, $top, $radius, $color) {
  box-shadow: $left $top $radius $color;
  -webkit-box-shadow: $left $top $radius $color;
  -moz-box-shadow: $left $top $radius $color;
}
